<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <a mat-button routerLink="/">
    <mat-icon>shopping_cart</mat-icon>
    Qhatu
  </a>
  <span class="push-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="matMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #matMenu>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Cerrar Sesión</span>
    </button>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
