<mat-toolbar color="accent">
  <button mat-button fxHide.lt-md>
    <mat-icon>arrow_back_ios</mat-icon>
  </button>
  <span>Productos</span>
  <button mat-button fxHide.lt-md>
    <mat-icon>arrow_forward_ios</mat-icon>
  </button>
</mat-toolbar>
<div>
  <mat-card class="product-card" *ngFor="let product of products">
    <img
      mat-card-image
      src="https://falabella.scene7.com/is/image/FalabellaPE/18523360_1?wid=1500&hei=1500&qlt=70"
    />
    <mat-card-content>
      <h2>title</h2>
      <p>price</p>
    </mat-card-content>
  </mat-card>
</div>
